.About-Container{
    margin-top :50px;
}

.Trakd-Devs {
    text-align: center;
    height: 8vh;
    font-size: 4em;
    border-bottom: 1px solid lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8vw;
    color: white;
}

.About-Profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    width: 90vw;
    margin-left: 8vw
}

.Freddy, .Kevin, .Jamison, .Jacob {
    margin-top: 8vh;
    height: 650px;
    width: 400px;
    display: flex;
    border: black 1px solid;
    flex-direction: column;
    font-size: 2em;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
}

.Name{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 400px;
    font-size: 1em;
    align-items: center;
    ;
}

#Freddy {
    height: 200px;
    width: 200px;
    border-radius:50%;
    display: flex;
    align-self: center;
}

#Freddy1 {
    height: 200px;
    width: 200px;
    border-radius:50%;
    display: flex;
    align-self: center;
    position: relative;
    left: 100px;
}

#Bio {
    font-size: .4em;
    display: flex;
    padding: 60px 60px;
    
}

.Logos {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

#Github, #Linkedin {
    height: 50px;
    width: 50px;
    
}
@media(max-width:800px){
    .Trakd-Devs{
        font-size: 2em; 
    }
    .Freddy{
        margin-top:10px;
    }
    .About-Container{
        margin-top: 60px;
    }
}

