.dashboard-container {
    width:90vw;
    display: flex;
    justify-content: space-evenly;
}

.dash-components{
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
} 
.right-components{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
}

#Arrows {
    width: 120px;
    // display: none;
    
}
@media(max-width:1600px){
    #Arrows{
        display:none;
    }
}
@media(max-width:1500px){
    .dash-components{
        justify-content: center;
        align-items: none;
        flex-wrap: wrap;
    }
    .right-components{
        align-items: center;
        justify-content: center;
    }
    .dashboard-container{
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:800px){
    .dashboard-container{
        margin-top: 10vh;

    }

}
