.Login-Container {
   display: flex;
   justify-content: space-evenly;
   width: 100vw;
   height: 100vh;
   
   
   align-items: center;
   
}

.Login-Box {
    height: 60vh;
    width: 40vw;
    text-align: center;
    justify-content: space-evenly; 
}

#Logo {
    // height: 210px;
    width: 350px;
    display: flex;
    align-self: center;
}
.MuiCardContent-root{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Image-Container {
    display: flex;
    justify-content: center;
}

#Sign-In {
    font-size: 2.5em;
}

.Register-Link {
    margin-top: 20px;
}



@media screen and (max-width :800px) {
    .Login-Box {
        height: 100vh;
        width: 100vw;
        
    }

    #Logo {
        width: 250px;
    }  
}