.tips-main{
     width: 20vw;
     margin-top:20px;
     box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
}
.tips-container{
    width: 20vw;   
}
.tips{
    font-size:1vw;
}
@media(max-width:800px) {
    .tips{
        font-size: 2vw;
    }
    .tips-main{
        width: 75vw;
        margin-bottom: 2px; 
        margin-top:2px  
    }
}
@media(max-width:500px){
    .tips{
        font-size: 3vw;
    }
}