.calorie-container{
    width: 700px;
    margin-top: 104px;
    box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
}

#calorie-card{
    min-width: 400px;
    
    height: 600px;
}

.Nutrients-Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Nutrient-Header{
    font-size: 3em;
    display: flex;
    justify-content: center;
}
@media(max-width:1300px){
    .calorie-container{
        margin-top: 20px;
    }
}

@media(max-width:800px){
    .calorie-container{
        margin:none;
        width: 75vw;
    }
}
