.calorie-container{
    width: 38vw;
    // height: 55vh;
    // margin: 50px;
}

#calorie-card{
    width: 35vw;
    height: 70vh;
}

.Nutrients-Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Nutrient-Header{
    font-size: 3em;
    display: flex;
    justify-content: center;
}

@media(max-width:800px){
    .calorie-container{
        margin:none;
        width: 75vw;
    }
}
