.nav-main{
    display: flex;
    // height:100vh;
    width:0px
}
.nav-container{
    width: 8vw;
    height: 100vh;
    background: white;
    box-shadow: 4px 2px 5px -3px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.nav-logo{
    max-width: 65%;
}

.nav-logo-top{
    display: flex;
    justify-content: center;
}

.nav-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ham{
    display: none;
    filter: invert(100%);
    
}
.ham-btn{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    z-index: 1;
    outline: none;
}
.ham:active{
    filter: invert(0%);
}

.avatar{
    max-width: 50%;
    border-radius: 50%;
}
div.side-menu,.side-menu-open,.side-menu-close{
    height:90vh;
    width: 100vw;
    background-color: white;
    transform: translateX(-900px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position:fixed;
}
.side-menu-open,.ham{
    animation: open .9s forwards ease;
    // filter: invert(0%);
}
.side-menu-close{
    animation: close .7s forwards ease;
}

#cogwheel {
    height: 30px;
    width: 30px;
  }
  
  #dashboard-logo {
    height: 40px;
    width: 40px;
  }
  
  #about-logo {
    height: 40px;
    width: 40px;
  }


@keyframes open{
    to{
        transform: translateX(0px);
    }
}
@keyframes close {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-700px);
    }
}
@media(max-width:700px){
    .nav-container{
        display: none;
    }
    .ham{
        display: block;
        // filter: invert(100%);
        width:80px
    }
}
@media(min-width:700px){
    div.side-menu,.side-menu-open,.side-menu-close{
        display: none;
    }
}