.nav-main{
    display: flex;
    // height:100vh;
    width: 10vw;
}

.nav-container{
    width: 8vw;
    height: 100vh;
    background: white;
    box-shadow: 4px 2px 5px -3px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.nav-logo{
    height: 8vh;
}

.nav-logo-top{
    display: flex;
    justify-content: center;
    
    height: 8vh;
    
}

.nav-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ham{
    display: none;
    filter: invert(100%);
    
}
.ham-btn{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    // z-index: 1;
    outline: none;
}
.ham:active{
    filter: invert(0%);
}

.avatar{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
div.side-menu,.side-menu-open,.side-menu-close{
    height:90vh;
    width: 100vw;
    background-color: white;
    transform: translateX(-900px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position:fixed;
}
.side-menu-open,.ham{
    animation: open .9s forwards ease;
    // filter: invert(0%);
}
.side-menu-close{
    animation: close .7s forwards ease;
}

#cogwheel {
    height: 30px;
    width: 30px;
  }
  
  #dashboard-logo {
    height: 40px;
    width: 40px;
  }
  
  #about-logo {
    height: 40px;
    width: 40px;
  }


@keyframes open{
    to{
        transform: translateX(0px);
    }
}
@keyframes close {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-700px);
    }
}

@media(min-width:801px){
    div.side-menu,.side-menu-open,.side-menu-close{
        display: none;
    }
    .Nav-Links{
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-evenly;
    }

}

@media(max-width: 800px) {
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        height: 8vh;
        background: white;
        
      }
    
      .nav-main {
        display: flex;
        width: 100vw;
       
      }

      .Nav-Links {
          display: flex;
          align-items: center;
          height: 8vh;
          width: 100vw;
          justify-content: space-evenly;
      }
    
      .nav-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:40vw;
        height: 8vh;
        margin-left: 10px;
      }

      .nav-logo{
       
        display: flex;
       
    }

    .avatar{
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }

    .Login-Button {
        height: 25px;
        width: 25px;
        
    }
}