.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
}

.nav-container {
  width: 8vw;
  height: 100vh;
  background: white;
  -webkit-box-shadow: 4px 2px 5px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 2px 5px -3px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
}

.nav-logo {
  height: 8vh;
}

.nav-logo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8vh;
}

.nav-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ham {
  display: none;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.ham-btn {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  outline: none;
}

.ham:active {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

.avatar {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

div.side-menu, .side-menu-open, .side-menu-close {
  height: 90vh;
  width: 100vw;
  background-color: white;
  -webkit-transform: translateX(-900px);
          transform: translateX(-900px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

.side-menu-open, .ham {
  -webkit-animation: open .9s forwards ease;
          animation: open .9s forwards ease;
}

.side-menu-close {
  -webkit-animation: close .7s forwards ease;
          animation: close .7s forwards ease;
}

#cogwheel {
  height: 30px;
  width: 30px;
}

#dashboard-logo {
  height: 40px;
  width: 40px;
}

#about-logo {
  height: 40px;
  width: 40px;
}

@-webkit-keyframes open {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes open {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes close {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
  }
}

@keyframes close {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
  }
}

@media (min-width: 801px) {
  div.side-menu, .side-menu-open, .side-menu-close {
    display: none;
  }
  .Nav-Links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 800px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100vw;
    height: 8vh;
    background: white;
  }
  .nav-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
  }
  .Nav-Links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8vh;
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40vw;
    height: 8vh;
    margin-left: 10px;
  }
  .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .avatar {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  .Login-Button {
    height: 25px;
    width: 25px;
  }
}
/*# sourceMappingURL=Nav.css.map */