.food-container {
    position: relative;
    margin-top: 27px;
    margin-right: 55px;
}

.card {
    height: 53vh;
    width: 35vw;
    margin-top: 50px;  
}

.dashboard-card {
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    align-items: flex-end;
    border-bottom: 1px solid black;
}

.add-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.food-mapped {
    display: flex;
    justify-content: space-evenly;
}