.card {
    height: 76.2vh;
    width: 40vw;  
    
    
}

.food-container {
    margin-top:48px;
    position: relative;

}

.dashboard-card {
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    align-items: flex-end;
    border-bottom: 1px solid black;
}

.add-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}