@import '../Utilities/Utilities.scss';

body{
  background-color: $color-1;
}

.App{
  display: flex;
  flex-direction: row;
}
#nav-flex{
  display: flex;
  width: 100vw;
}


@media screen and (max-width:900px) {
  .App {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
  }

  

  
}