
.settings-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://media.giphy.com/media/3mJyfDFH0BqgbdghWJ/giphy.gif");
    
}

.settings-card-1, .settings-card-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    width: 90vw;
    
}

.settings-button-style {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 8vh;
    border-bottom: .5px grey solid;

}
.settingH1{
    width:500px;
    display:flex;
    font-size: 20px;
    align-items: center;

}
.settingP{
    color: rgb(155, 153, 153);
    font-size: 16px;
}
.settings-settings, .settings-goals {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    
}
.update-content{
    display: flex;
    min-width: 450px;

}
.profPic{
    width: 80px;
    border-radius: 5px;
    position: static;
    margin-left: 10px;
}

@media screen and (max-width: 1300px ){
    .settings-page{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 801px) {
    .settings-card-1 {
        margin-top: 100px;
        margin-right: 100px;
        
    }
    .settings-card-2 {
        margin-top: 20px;
        margin-right: 100px;
    }

    .settings-page{
        height: 108vh;
    }

    
}