.Calculator, .Bmi {
    // height: 60vh;
    // width: 45vw;

    margin-left: 10px;
    margin-top: 50px;

}
iframe{
    width: 50vw;
    box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
}
#bmiCalc{
    height:50vh;
}


.Calculator-Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
@media(max-width:800px){
    iframe{
        width: 90vw;
        height:100vh
    }
    .Calculator-Container{
        margin-top: 50px;
        margin-right: 20px;
    }
}